*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: clamp(15px,2vw,18px);
}
@mixin flexcolom{
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: font1;
    src: url(/fonts/Regular.woff);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Light.woff);
}
@font-face {
    font-family: font3;
    src: url(/fonts/38.woff2);
}
section{
    max-width: 1600px;
}
main{
    width: 100%;
    @include flexcolom();

    #one{
        width: 100%;
        @include flexcolom();
        background-color: rgb(15, 14, 14);
        padding: 4rem 1rem;
        gap: 1rem;

        #top{
            width: 100%;

            img{
                width: 100%;
            }
        }
        #bottom{
            width: 100%;
            @include flexcolom();
            color: white;
            gap: 4rem;
            background-color: rgb(33, 33, 33);
             padding: 2rem;

            #text{
                width: 100%;
                @include flexcolom();
                gap: 2rem;


                h1{
                    font-weight: 500;
                    font-size: 2.3rem;
                    font-family: font1;
                    color: rgb(218, 215, 215);
                    line-height: 2.7rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    font-family: font2;
                    font-size: 1.3rem;
                    opacity: 0.5;
                }
                
                #button{
                    width: 100%;

                    span{
                    padding: 0.5rem 0.6rem;
                    display: inline-block;
                    width: fit-content;
                    border-radius: 5.4rem;
                    border: 1px solid white;
                    opacity: 0.5;

                     h2{
                         display: inline;
                         color: white;
                         font-size: 1.4rem;
                         font-weight: 400;
                       }
                    }

                    h2{
                        display: inline;
                        font-family: font3;
                        font-weight: 300;
                    }
                
                }
            }
        }

    }

    #two{
        width: 100%;
        background-color: rgb(15, 14, 14);
        @include flexcolom();
        

       #two-top,#two-bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
       color: white;
       font-family: font3;
       text-align: center;


        .element{
            width: auto;
            padding: 1rem;

            small{
                font-size: 1.1rem;
                text-transform: uppercase;
                opacity: 0.5;
            }
            
            h1{
                font-size: 2.4rem;
                opacity: 0.9;
                font-weight: 400;
                font-family: font2;
            }
        }
       }
    }

    #three{
        width: 100%;
        @include flexcolom();
        background-color: rgb(15, 14, 14);
        padding:1rem;
        gap: 1rem;

        #three-top{
            width: 100%;

            img{
                width: 100%;
            }
        }
        #three-bottom{
            width: 100%;
            @include flexcolom();
            color: white;
            gap: 4rem;
            background-color: rgb(33, 33, 33);
            padding: 2rem;

            h2{
                font-weight: 500;
                font-size: 2.3rem;
                font-family: font1;
                color: rgb(218, 215, 215);
                line-height: 2.7rem;
                text-transform: uppercase;
                }


            #three-text{
                width: 100%;
                @include flexcolom();
                
                p{
                    font-weight: 300;
                    font-family: font2;
                    font-size: 1.3rem;
                    opacity: 0.5;
                }

            }
        }
    }
    #four{
        width: 100%;
        @include flexcolom();
        background-color: rgb(15, 14, 14);
        padding:1rem;
        gap: 1rem;

        #four-top{
            width: 100%;

            img{
                width: 100%;
            }
        }

        #four-bottom{
            width: 100%;
            @include flexcolom();
            color: white;
            gap: 2rem;
            background-color: rgb(33, 33, 33);
            padding: 2rem;

            h2{
                font-weight: 500;
                font-size: 2.4rem;
                font-family: font1;
                color: rgb(218, 215, 215);
                line-height: 2.7rem;
                text-transform: uppercase;
            }

            #four-text{
                width: 100%;
                @include flexcolom();
                gap: 3rem;

                p{
                    font-weight: 300;
                    font-family: font2;
                    font-size: 1.3rem;
                    opacity: 0.5;
                }

            }
        }
    }
}


@media (min-width:700px) {
    main{
        #one{
            #bottom{
                #text{
                    padding: 1rem;
                    h1{
                        font-size: 4rem;
                        line-height: 4.8rem;
                        font-weight: 600;
                    }
                    p{
                        font-size: 1.7rem;
                    }
                }
            }
        }

        #two{
           
            #two-top,#two-bottom{

                .element{

                  small{
                    font-size: 1.6rem;
                  }

                  h1{
                    font-size: 3rem;
                  }
                }
            }
        }

        #three{

            #three-bottom{

                #three-text{
                    flex-direction: row;
                    gap: 3rem;

                    .para{

                        p{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        #four{

            #four-bottom{

                #four-text{
                    flex-direction: row;
                    gap: 3rem;

                    .para{

                        p{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1000px){
    main{
        #one{
            flex-direction: row;
            padding: 3rem 1rem;

            #top{
                width: 50%;
                height: 50%;

                img{
                    border-radius: 1rem;
                    width: 100%;
                }
            }
            #bottom{
                width: 50%;
                padding: 1rem 1rem;
                justify-content: space-between;
                border-radius: 1rem;
                gap: 1rem;

                #text{
                    
                    h1{
                        font-size: 3rem;
                        line-height: 3.2rem;
                        font-weight: 500;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 200;
                    }

                    #button{
                        span{
                            
                            h2{
                                font-size: 0.8rem;
                            }
                        }
                        h2{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        #two{
            flex-direction: row;

            #two-top,#two-bottom{

                .element{

                  small{
                    font-size: 1rem;
                  }

                  h1{
                    font-size: 2rem;
                  }
                }
            }
        }

        #three{
            flex-direction: row-reverse;

            #three-top{
                width: 50%;
            }
            #three-bottom{
                padding: 1rem 1rem;
                justify-content: space-evenly;
                border-radius: 1rem;
                gap: 1rem;

                #three-text{
                    flex-direction: row;
                    gap: 3rem;

                    .para{

                        p{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

        #four{
            flex-direction: row;
            
             #four-bottom{
                padding: 4rem 4rem;
                justify-content: space-evenly;
                border-radius: 1rem;
                gap: 1rem;

                #four-text{
                    flex-direction: row;

                    .para{

                        p{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}
   
@media (min-width:1460px){
    main{
        #one{
            flex-direction: row;
            padding: 3rem 1rem;

            #top{
                width: 50%;
                height: 50%;

                img{
                    border-radius: 1rem;
                    width: 100%;
                }
            }
            #bottom{
                width: 50%;
               padding: 3rem 3rem;
                justify-content: space-between;
                border-radius: 1rem;
                gap: 8rem;

                #text{
                    
                    h1{
                        font-size: 3.4rem;
                        line-height: 4rem;
                        font-weight: 500;
                    }
                    p{
                        font-size: 1.2rem;
                        font-weight: 200;
                    }

                    #button{
                        span{
                            
                            h2{
                                font-size: 0.8rem;
                            }
                        }
                        h2{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        #two{
            #two-top,#two-bottom{

                .element{

                  small{
                    font-size: 1.6rem;
                  }

                  h1{
                    font-size: 3rem;
                  }
                }
            }
        }

        #three{
             
            #three-top{
                
                img{
                    border-radius: 2rem;
                }
            }

            #three-bottom{
                width: 50%;
               padding: 2rem 3rem;
                border-radius: 1rem;

                h2{
                    font-size: 3rem;
                    line-height: 3.4rem;
                }
            }
        }

        #four{
            #three-top{
                
                img{
                    border-radius: 2rem;
                }
            }

            #three-bottom{
                width: 50%;
               padding: 2rem 3rem;
                border-radius: 1rem;

                h2{
                    font-size: 3rem;
                    line-height: 3.4rem;
                }
            }
        }
    }
}