* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: clamp(15px, 2vw, 18px);
}

@font-face {
  font-family: font1;
  src: url(/fonts/Regular.woff);
}
@font-face {
  font-family: font2;
  src: url(/fonts/Light.woff);
}
@font-face {
  font-family: font3;
  src: url(/fonts/38.woff2);
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 14, 14);
}
main #one {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1rem;
}
main #one #top {
  width: 100%;
}
main #one #top img {
  width: 100%;
}
main #one #bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 4rem;
  background-color: rgb(33, 33, 33);
  padding: 2rem;
}
main #one #bottom #text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #one #bottom #text h1 {
  font-weight: 500;
  font-size: 2.3rem;
  font-family: font1;
  color: rgb(218, 215, 215);
  line-height: 2.7rem;
  text-transform: uppercase;
}
main #one #bottom #text p {
  font-weight: 300;
  font-family: font2;
  font-size: 1.3rem;
  opacity: 0.5;
}
main #one #bottom #text #button {
  width: 100%;
}
main #one #bottom #text #button span {
  padding: 0.5rem 0.6rem;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5.4rem;
  border: 1px solid white;
  opacity: 0.5;
}
main #one #bottom #text #button span h2 {
  display: inline;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}
main #one #bottom #text #button h2 {
  display: inline;
  font-family: font3;
  font-weight: 300;
}
main #two {
  width: 100%;
  background-color: rgb(15, 14, 14);
  display: flex;
  flex-direction: column;
}
main #two #two-top, main #two #two-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: font3;
  text-align: center;
}
main #two #two-top .element, main #two #two-bottom .element {
  width: auto;
  padding: 1rem;
}
main #two #two-top .element small, main #two #two-bottom .element small {
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0.5;
}
main #two #two-top .element h1, main #two #two-bottom .element h1 {
  font-size: 2.4rem;
  opacity: 0.9;
  font-weight: 400;
  font-family: font2;
}
main #three {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 14, 14);
  padding: 1rem;
  gap: 1rem;
}
main #three #three-top {
  width: 100%;
}
main #three #three-top img {
  width: 100%;
}
main #three #three-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 4rem;
  background-color: rgb(33, 33, 33);
  padding: 2rem;
}
main #three #three-bottom h2 {
  font-weight: 500;
  font-size: 2.3rem;
  font-family: font1;
  color: rgb(218, 215, 215);
  line-height: 2.7rem;
  text-transform: uppercase;
}
main #three #three-bottom #three-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main #three #three-bottom #three-text p {
  font-weight: 300;
  font-family: font2;
  font-size: 1.3rem;
  opacity: 0.5;
}
main #four {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 14, 14);
  padding: 1rem;
  gap: 1rem;
}
main #four #four-top {
  width: 100%;
}
main #four #four-top img {
  width: 100%;
}
main #four #four-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2rem;
  background-color: rgb(33, 33, 33);
  padding: 2rem;
}
main #four #four-bottom h2 {
  font-weight: 500;
  font-size: 2.4rem;
  font-family: font1;
  color: rgb(218, 215, 215);
  line-height: 2.7rem;
  text-transform: uppercase;
}
main #four #four-bottom #four-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main #four #four-bottom #four-text p {
  font-weight: 300;
  font-family: font2;
  font-size: 1.3rem;
  opacity: 0.5;
}
main #five {
  width: 100%;
  background-color: #131313;
}
main #five #box {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
main #five #box h1 {
  font-size: 2.3rem;
  font-family: font1;
  text-transform: uppercase;
  font-weight: 400;
}
main #five #box #icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main #five #box #icon span {
  padding: 0.4rem 0.4rem;
  border: 1px solid white;
  border-radius: 50px;
  display: none;
}
main #five #box #icon span i {
  font-size: 1rem;
}
main #five #box #icon small {
  font-size: 1rem;
  font-family: font2;
  text-transform: uppercase;
}
main #six {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main #six .card {
  width: 100%;
  background: url("/imags/box1.webp");
  aspect-ratio: 1.1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  opacity: 0.8;
  border-radius: 1rem;
}
main #six .card .six-top {
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  color: white;
  opacity: 0.6;
  gap: 1rem;
  justify-content: flex-end;
}
main #six .card .six-top .round {
  padding: 0.6rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.276);
  backdrop-filter: blur;
  border-radius: 50px;
  border: 1px solid white;
}
main #six .card .six-bottom {
  width: 100%;
  background-color: rgba(121, 121, 121, 0.42);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
main #six .card .six-bottom h3 {
  font-size: 1.7rem;
  font-family: font2;
  text-transform: uppercase;
}
main #six .card .six-bottom small {
  font-size: 1.1rem;
  font-family: font2;
  text-transform: uppercase;
}
main #six .card:nth-child(2) {
  background: url("/imags/box2.webp");
  background-size: cover;
  background-position: center;
}
main #six .card:nth-child(3) {
  background: url("/imags/box3.webp");
  background-size: cover;
  background-position: center;
}

@media (min-width: 700px) {
  main #one #bottom #text {
    padding: 1rem;
  }
  main #one #bottom #text h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 600;
  }
  main #one #bottom #text p {
    font-size: 1.7rem;
  }
  main #two #two-top .element small, main #two #two-bottom .element small {
    font-size: 1.6rem;
  }
  main #two #two-top .element h1, main #two #two-bottom .element h1 {
    font-size: 3rem;
  }
  main #three #three-bottom #three-text {
    flex-direction: row;
    gap: 3rem;
  }
  main #three #three-bottom #three-text .para p {
    font-size: 2rem;
  }
  main #four #four-bottom #four-text {
    flex-direction: row;
    gap: 3rem;
  }
  main #four #four-bottom #four-text .para p {
    font-size: 2rem;
  }
  main #five #box span {
    display: inline-block;
  }
}
@media (min-width: 1000px) {
  main #one {
    flex-direction: row;
    padding: 3rem 1rem;
  }
  main #one #top {
    width: 50%;
    height: 50%;
  }
  main #one #top img {
    border-radius: 1rem;
    width: 100%;
  }
  main #one #bottom {
    width: 50%;
    padding: 1rem 1rem;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 1rem;
  }
  main #one #bottom #text h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 500;
  }
  main #one #bottom #text p {
    font-size: 1rem;
    font-weight: 200;
  }
  main #one #bottom #text #button span h2 {
    font-size: 0.8rem;
  }
  main #one #bottom #text #button h2 {
    font-size: 1.2rem;
  }
  main #two {
    flex-direction: row;
  }
  main #two #two-top .element small, main #two #two-bottom .element small {
    font-size: 1rem;
  }
  main #two #two-top .element h1, main #two #two-bottom .element h1 {
    font-size: 2rem;
  }
  main #three {
    flex-direction: row-reverse;
  }
  main #three #three-top {
    width: 50%;
  }
  main #three #three-bottom {
    padding: 1rem 1rem;
    justify-content: space-evenly;
    border-radius: 1rem;
    gap: 1rem;
  }
  main #three #three-bottom #three-text {
    flex-direction: row;
    gap: 3rem;
  }
  main #three #three-bottom #three-text .para p {
    font-size: 0.9rem;
  }
  main #four {
    flex-direction: row;
  }
  main #four #four-bottom {
    padding: 4rem 4rem;
    justify-content: space-evenly;
    border-radius: 1rem;
    gap: 1rem;
  }
  main #four #four-bottom #four-text {
    flex-direction: row;
  }
  main #four #four-bottom #four-text .para p {
    font-size: 0.9rem;
  }
  main #five #box #icon span {
    display: inline-block;
  }
  main #six {
    flex-direction: row;
  }
  main #six .card .six-bottom h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1460px) {
  main #one {
    flex-direction: row;
    padding: 3rem 1rem;
  }
  main #one #top {
    width: 50%;
    height: 50%;
  }
  main #one #top img {
    border-radius: 1rem;
    width: 100%;
  }
  main #one #bottom {
    width: 50%;
    padding: 3rem 3rem;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 8rem;
  }
  main #one #bottom #text h1 {
    font-size: 3.4rem;
    line-height: 4rem;
    font-weight: 500;
  }
  main #one #bottom #text p {
    font-size: 1.2rem;
    font-weight: 200;
  }
  main #one #bottom #text #button span h2 {
    font-size: 0.8rem;
  }
  main #one #bottom #text #button h2 {
    font-size: 1.2rem;
  }
  main #two #two-top .element small, main #two #two-bottom .element small {
    font-size: 1.6rem;
  }
  main #two #two-top .element h1, main #two #two-bottom .element h1 {
    font-size: 3rem;
  }
  main #three #three-top img {
    border-radius: 2rem;
  }
  main #three #three-bottom {
    width: 50%;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }
  main #three #three-bottom h2 {
    font-size: 3rem;
    line-height: 3.4rem;
  }
  main #four #three-top img {
    border-radius: 2rem;
  }
  main #four #three-bottom {
    width: 50%;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }
  main #four #three-bottom h2 {
    font-size: 3rem;
    line-height: 3.4rem;
  }
  main #five #box #icon span {
    display: inline-block;
  }
}/*# sourceMappingURL=style.css.map */